<div class="container">
		
		<div class="body">
			<div class="row">
				<div class="col-xs-4" style="background-color:#92a8d1;margin-left: 15px; margin-bottom: 15px;">
					<h4>About</h4>
				</div>
			</div>
			
			<div>
				<div class="row">
				<div class="col-xs-10" style="background-color:#92a8d1; margin-left: 15px; margin-bottom: 15px;">
					<h6>Topic:</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum convallis dui vitae turpis pellentesque, id lacinia orci pellentesque. Aliquam erat volutpat. Phasellus aliquet faucibus porta. Fusce elementum magna a nisi semper, sed blandit diam lacinia. Fusce lectus lorem, pulvinar et dui sed, faucibus ultricies tortor. Mauris dolor nibh, suscipit ut orci ac, volutpat vestibulum nisl. Maecenas aliquam erat non erat varius, et fringilla felis venenatis. Vestibulum sit amet odio massa. Duis in ex eget dolor rhoncus iaculis id eu nibh. Aliquam id accumsan eros.</p>
					<h6>Topic:</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
				<div class="col-xs-1">
				</div>
			</div>
		</div>
		
</div>