<div class="container">
		
		<div class="body">
			<div class="row">
				<div class="col-xs-4" style="background-color:#92a8d1;margin-left: 15px; margin-bottom: 15px;">
					<h4>Blog</h4>
				</div>
			</div>
			<div class="media">
				<div class="media-left">
				  <img src="images/Carrot.JPG" class="media-object" style="width:60px">
				</div>
				<div class="media-body">
				  <h4 class="media-heading">Organic Carrots vs Non Organic Carrots</h4>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
			<div class="media">
				<div class="media-left">
				  <img src="images/butterfly.jpg" class="media-object" style="width:60px">
				</div>
				<div class="media-body">
				  <h4 class="media-heading">Butterflies 101</h4>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
			<div class="media">
				<div class="media-left">
				  <img src="images/bunny yoga.jpg" class="media-object" style="width:60px">
				</div>
				<div class="media-body">
				  <h4 class="media-heading">Yoga Bunny</h4>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
		</div>
		
</div>